html {
  font-size: 28px;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}

td,
th {
  padding: 0;
}

.pure-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

.pure-table td,
.pure-table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}

.pure-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

.pure-table td {
  background-color: transparent;
}

.pure-table-odd td {
  background-color: #f2f2f2;
}

header>div {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #fafafa;
  letter-spacing: 0;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

img {
  width: 150px;
  height: 150px;
  position: absolute;
}

#photo1>img {
  top: 10px;
  left: 10px;
}

#photo2>img {
  top: 10px;
  right: 10px;
}

#photo3 {
  display: inline-block;
  margin-left: 80%;
}

#photo3>img {
  right: 10px;
  bottom: 20px;
}

button {
  width: 100px;
  height: 40px;
  padding: 8px;
  position: absolute;
  left: 10px;
  bottom: 20px;
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  font-size: 0.5em;
}